body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
}

.answerButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header {
    text-align: center;
}
.quizTimer {
    text-align: center;
}
.startQuiz {
    text-align: center;
}
#main {
    text-align: center;
}