body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
}

.answerButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header {
    text-align: center;
}
#quizTime {
    text-align: center;
}
#startQuiz {
    text-align: center;
    flex-wrap: wrap;
}
#main {
    text-align: center;
}